{
  "extends": ["@timkurvers", "prettier"],
  "env": {
    "es2020": true,
  },
  "parserOptions": {
    "ecmaVersion": 2021,
  },
  "rules": {
    "default-case-last": "off",
    "function-paren-newline": "off",
    "import/extensions": ["error", "ignorePackages"],
    "import/no-cycle": "off",
    "max-classes-per-file": "off",
    "no-await-in-loop": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-promise-executor-return": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
    "object-curly-newline": "off",
  },
  "overrides": [
    {
      "files": ["src/[0-9][0-9][0-9][0-9]/[0-9][0-9]/index.js", "examples.js"],
      "rules": {
        "import/prefer-default-export": "off",
      },
    },
  ],
}
