{
  "extends": "timkurvers",
  "rules": {
    "newline-per-chained-call": "off",
    "no-await-in-loop": "off",
    "no-bitwise": "off",
    "no-console": "off",
    "no-constant-condition": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  },
  "overrides": [
    {
      "files": ["[0-9][0-9][0-9][0-9]/[0-9][0-9]/index.mjs", "examples.mjs"],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}
